/* src/components/Navbar.css */

.navbar {
  z-index: 1050; /* Un valore sufficientemente alto per sovrapporre altri elementi */
  background-color: #343a40; /* Colore di sfondo scuro */
  padding: 0.5rem 1rem; /* Padding uniforme */
}

.navbar-brand {
  font-size: 1.5rem; /* Dimensione del titolo */
  font-weight: bold; /* Grassetto per il titolo */
}

.nav-link {
  margin-left: 15px; /* Spazio tra i link */
  color: rgb(255, 255, 255); /* Colore del testo dei link */
}

.nav-link:hover {
  background-color: #8b0000;
  padding: 0.5rem 1rem;
  color: #ffffff; /* Colore verde chiaro al passaggio del mouse */
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: #8b0000;
}

.navbar-collapse {
  justify-content: flex-end; /* Allinea i link a destra */
}

/* Stile per il Dropdown */
.nav-dropdown {
  color: #ffffff; /* Colore del testo per il dropdown */
}

.nav-dropdown .dropdown-item:hover {
  background-color: #8b0000;
  color: #ffffff; /* Colore del testo per il dropdown */
}

/* Stile mobile */
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #343a40; /* Colore di sfondo per il mobile */
  }

  .navbar {
    padding: 0.5rem; /* Riduci il padding in mobile */
  }

  .nav-link {
    margin: 0; /* Rimuovi margine per link in mobile */
  }
}
