/* src/App.css */

.App {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
}


h1 {
  color: #ff8383;
}

h2 {
  color: #ff8383;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #ecf0f1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.navbar {
  background: #ffc394;
  color: white;
  padding: 10px;
}

.navbar h1 {
  display: inline;
}

.navbar ul {
  float: right;
}

.navbar li {
  display: inline;
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

